# Google Apps Script Deployment URL
# Dapatkan URL ini setelah deploy Google Apps Script Anda
VITE_API_URL=https://script.google.com/macros/s/AKfycbxt2eWNcXx5xdcUHF5-yYs3xyTVPgNteCCGHln3Z-OqEfCj11bYx0QiDpyNLKppgKI3wg/exec